<div class="row mainRow" ng-controller="HomeController">
  <div ng-repeat="jep in jeps" class="col-md-2 col-lg-2 col-sm-2 column">
    <div class="category">
      <h4>Category</h4>
    </div>
      <ul class="list-group">
        <li class="list-group-item"><h3>$200</h3></li>
        <li class="list-group-item"><h3>$200</h3></li>
        <li class="list-group-item"><h3>$200</h3></li>
        <li class="list-group-item"><h3>$200</h3></li>
        <li class="list-group-item"><h3>$200</h3></li>
      </ul>
  </div>
