
  <li class="list-group-item" data-toggle="modal" data-target="{{modId}}"><h3>${{value}}</h3></li>
  <!-- {{question}} -->

<!-- Modal -->
<div class="modal fade" id="{{modId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <p class="question">{{question}}</p>
      </div>
      <div class="modal-footer">
        <input class="answerInput" type="text" name="name" value="" placeholder="{{answer}}">
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
