
  <li class="list-group-item" data-toggle="modal" data-target="#modal-{{modid}}"><h3>${{value}}</h3></li>
  <!-- {{question}} -->

<!-- Modal -->
<div class="modal fade" id="modal-{{modid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{data.data.title}}</h4>
      </div>
      <div class="modal-body">
        <p class="question">{{question}}</p>
      </div>
      <div class="modal-footer">
        <input class="answerInput" ng-model="userAnswer" type="text" name="name" value="" placeholder="{{answer}}">
        <button ng-click"addScore(userAnswer)" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
